@media  (max-width:970px) {
    .container {
        margin: 0 15px;
    }
}
@media (max-width:740px) {
    .container{
        top: 10%;
        padding-bottom: 10%;
        height: auto;
        margin: 0 auto;
        display: block;
        width: 345px;}
    .floating-button{
        margin-bottom: 10%;
    }
    p{
        padding-bottom:10% ;
    }
    .card1>.floating-button{
        margin-bottom: 10%;
    }
}